# Server Configuration
PORT=5000
NODE_ENV=development

# Database Settings
# (If blank, the server automatically spins up an in-memory MongoDB database sandbox)
MONGODB_URI=mongodb://127.0.0.1:27017/ai-news-hub

# JWT Authentication secret (Random secure string)
JWT_SECRET=super_secret_jwt_key_1234567890
